In [8]:
# import the libraries
from pathlib import Path
import plotly.express as px
import plotly.graph_objects as go
import dash
from dash import Dash, html, dcc, Input, Output
import pandas as pd

In [9]:
# Load the Dataframe
df = pd.read_csv(Path("./ds_salaries.csv"))

In [10]:
# Preview the dataset
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [ ]:
# Create the dash app
app = Dash()

In [ ]:
# Set up the app layout
geo_dropdown = dcc.Dropdown(options=df["job_title"].unique()<
                            value="New York")

app.layout = html.Div(children=[
    html.H1(children="Job Titles"),
    geo

In [ ]:
# drop down for job title
# Map of employee residence
# Bar chart remote ratio
# Map of company location
# Pie chart company size
# Pie chart bar graph experience

In [ ]:
# Set up the callback function
@app.callback(
    Output(component_id="xË›x", component_property="figure")
    Input(component_id="xx", component_property="value")
)

def update_graph(selected_geography):
    filtered_df =

In [ ]:
# Run local server
if __name__ == "__main__":
    app.run_server(debug=True)